<div class="row p-3">
  <div class="col">
    <!-- componente busqueda -->
    <app-busqueda></app-busqueda>
     <!-- end componente busqueda -->
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <!-- componente resultados -->
    <app-resultados></app-resultados>
     <!-- end componente resultados -->
  </div>
</div>
