<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar -->
  <!-- contenedor -->
  <app-gifs-page class="container"></app-gifs-page>
  <!-- end contenedor -->
</div>
