<div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light">GiftsApp</h3>
  <hr class="text-light">
  <div class="list-group list-reset">
    <a href="#" class="list-group-item list-group-item-action" *ngFor="let datos of historial" (click)="obtener(datos)">{{datos | titlecase}}</a>
  </div>
</div>
